@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:wght@300&family=Dancing+Script:wght@500&display=swap");

body {
    font-family: "Advent Pro", sans-serif;
    padding: 0;
    margin: 0;
}
ul {
    padding: 0;
    margin: 0;
}
li {
    list-style-type: none;
}
/* h2 {
    text-align: center;
    padding-top: 30px;
    font-size: 2em;
    color: honeydew;
} */
h3_2 {
    text-align: center;
    color: white;
    font-size: 3em;
    text-shadow: 1px 3px 2px black;
}

a {
    text-decoration: none;
    color: black;
}

/*************************** FOOTER ******************************* */
footer {
    position: bottom;
    width: 100%;
    opacity: 0.9;
}
.flex-container {
    display: flex;
    flex-flow: row wrap;

    justify-content: space-around;

    padding: 0;
    margin: 0;
    list-style: none;
}
.flex-container-child {
    padding: 5px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
}
.flex-container-child a:hover {
    background-color: dimgray;
    transition: 0.3s;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
}

/*************************** IMAGE PRINCIPALE ******************************* */
#imagePrincipale {
    padding-top: 60px;
    background: url(images/background.jpg) no-repeat fixed 50% 50%;
    background-size: cover;
    height: 500px;
}
h1 {
    font-family: "Dancing Script", cursive;
    text-align: center;
    color: antiquewhite;
    font-size: 6em;
    margin-top: 120px;
    text-shadow: 1px 3px 2px black;
}
#firstLine {
    height: 1px;
    width: 25%;
    margin: -3px auto;
    background-color: #fa5b1c;
    box-shadow: 1px 3px 2px black;
}
h3 {
    text-align: center;
    color: antiquewhite;
    font-size: 3em;
    text-shadow: 1px 3px 2px black;
}
/*************************** IMAGE ******************************* */
#image {
    margin-top: auto;
    margin-bottom: auto;
}

/*************************** PROFILES ******************************* */
.profiles {
    display: flex;
    justify-content: space-around;
    margin: 20px 20px;
}
.profile {
    flex-basis: 260px;
    background-color: burlywood;
}
.profile .profile-img {
    height: 260px;
    width: 260px;
    border-radius: 50%;
    filter: grayscale(100%);
    cursor: pointer;
    transition: 400ms;
}
.profile:hover .profile-img {
    filter: grayscale(0);
}
.user-name {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 35px;
    color: black;
    text-shadow: none;
}
#line {
    height: 1px;
    width: 60%;
    margin: -3px auto;
    background-color: black;
}
.profile h5 {
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 18px;
    font-weight: 100;
    color: #a11509;
}
.profile p {
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
}
@media only screen and (max-width: 800px) {
    .profiles {
        flex-direction: column;
    }
    .profile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .profile p {
        text-align: center;
        margin: 20px 60px 80px 60px;
        font-size: 20px;
    }
}

/*************************** PROFILE ******************************* */
.left {
    position: absolute;
    top: 35%;
    left: 170px;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background-color: #aaabb6;
}
.left ul {
    display: flex;
    flex-direction: column;
    background-color: #9c9da8;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}
.left a {
    margin-top: 0px;
}

/*************************** FAQ ******************************* */

/* used for centering */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
/******************** QA ************************ */
html {
    box-sizing: border-box;
}
.sectionFAQ {
    width: 100%;
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}
.QA-item {
    background-color: green;
    border-radius: 0.4rem;
    margin-bottom: 1rem;
    padding: 1rem;
}
.Question {
    color: red;
    font-size: 1.6rem;
    text-decoration: none;
    background-color: orange;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

.Answer {
    color: blue;
    font-size: 20px;
    max-height: 0;
    overflow: hidden;
    position: relative;
    background-color: yellow;
    transition: max-height 0.65s;
}
.Answer ::before {
    content: "";
    position: absolute;
    width: 0.6rem;
    height: 90%;
    background-color: tomato;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.Answer p {
    color: blue;
    padding: 2rem;
    font-size: 1.4rem;
}
.QA-item:target .Answer {
    max-height: 20rem;
}

/******************** ADD ************************ */

.addQuestion-popup {
    display: none;
    bottom: 0;
    right: 15px;
    border: 3px solid red;
    z-index: 9;
}
.cancel {
    float: right;
}
textarea {
    width: 90%;
}

/******************** MODIFY ************************ */
.modifyQuestion-popup {
    display: none;
    bottom: 0;
    right: 15px;
    border: 3px solid green;
    z-index: 9;
}

.graphs {
    display: flex;
    flex-direction: row;
}
.dark2 {
    background-color: #32373a !important;
}
.accordion-body {
    width: 90% !important;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
}
.accordion-header {
    width: 90% !important;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
}
.justify {
    text-align: justify;
}
.unstyle {
    text-decoration: none;
}
table {
    table-layout: fixed;
    text-align: justify;
}

/******************** TESTPAGE ************************ */
.testpagemain {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.testpage {
    display: flex;
    flex-direction: line;
    opacity: 1;

    background-color: lightgray;
    margin: 10px 10px;
}
.testpage-title {
    margin: 10px 10px;
}

.testpage-imgR {
    height: 240px;
    width: 240px;
    border-radius: 15%;
    float: right;
    margin: 20px 20px;
    opacity: 1;
}
.testpage-imgL {
    height: 240px;
    width: 240px;
    border-radius: 10%;
    float: left;
    margin: 20px 20px;
    opacity: 1;
}
.testpage-titre {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 35px;
    color: black;
    font-weight: bold;
    text-shadow: none;
    opacity: 1;
}
.testpage-text {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 25px;
    color: black;
    text-shadow: none;
    opacity: 1;
}
/******************** Log In ************************ */
#backgroundLogIn {
    height: 100%;
    width: 100%;
    background: url(/AutoKapt/images/electrocardiogram.jpg);
}

#logInContainer {
    border: 4px gray;
    border-radius: 15px;
    width: 75%;
    height: 40%;
    background-color: whitesmoke;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.center {
    align-items: center;
}
